page-login {
    

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label {
        margin-left: 5px;
    }

    ion-input {
        padding: 5px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

      .facebook-btn {
    background-color: #3b5998;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .login-btn {
    margin-top: 5px;
  }

    img.auth-img {
        width: 40%;
        margin-left: 30%;
        padding: 40px 0px
    }

    .button-container {
        position: absolute;
        bottom: 0;
        width: calc(100% - 32px);
        padding-bottom: 10px;
    }

}