
<!--<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title> Accueil </ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <ion-navbar  color="primary" >
     <ion-title> Accueil </ion-title>
  
  </ion-navbar>

  
</ion-header>




<ion-content padding>

  <ion-item no-border-bottom   >
      <ion-segment [(ngModel)]="segment" >
      <ion-segment-button value="trajets">
      Tous Les Trajets 
      </ion-segment-button>
      <ion-segment-button value="annonces">
        Tous Les Annonces 
      </ion-segment-button>
    </ion-segment>

    <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

  </ion-item>

<ion-item *ngIf="segment === 'annonces'" >
 
  <ion-list>
    <ion-item *ngFor="let annonce of annonces" >
      <h2>{{annonce?.title}}</h2>
      <p>Date: <strong>{{annonce?.date}}</strong></p>
       <p> Description : <strong>{{annonce?.description}}</strong></p>
     <p>Adresse depart : <strong>{{annonce?.adresse_dep}}</strong></p>
     <p>Adresse arrivée: <strong>{{annonce?.adresse_arr}}</strong></p>

     <button ion-button color="primary" icon-left (click)="envoie(annonce)">
          <ion-icon name="send"></ion-icon>
          Envoyer demande 
        </button> 
      </ion-item>
      </ion-list>
    </ion-item>

 

   
<ion-item *ngIf="segment === 'trajets'" >
  
   <ion-list>
    <ion-item *ngFor="let trajet of trajets" >
  
      <h2>{{trajet?.title}}</h2>
      <p>Day: <strong>{{trajet?.days}}</strong></p>
       <p>Adresse départ: <strong>{{trajet?.adresse_dep}}</strong></p>
     <p>Adresse arrivée: <strong>{{trajet?.adresse_arr}}</strong></p>
        <p>price: <strong>{{trajet?.price}} dt </strong></p>
    
      <button ion-button color="primary" icon-left (click)="envoie(trajet)">
          <ion-icon name="send"></ion-icon>
          Envoyer demande 
        </button> 

       </ion-item>
   
  </ion-list> 
 </ion-item>
</ion-content>
