$categories: (
    ionic: color($colors, primary),
    angular: #AC282B,
    communication: #8E8D93,
 tooling: #FE4C52,
    services: #FD8B2D,
    design: #FED035,
    workshop: #69BB7B,
 food: #3BC7C4,
    documentation: #B16BE3,
    navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}


page-accueil {
  ion-col.pub-date.col {
    padding-right: 15px;
}
}

.fab[mini] {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}

ion-card.card {
    position: relative;
}

.ion-page > ion-content {
    position: absolute;
    background-color: #fcfcfc!important;
}
ion-segment.segment {
    padding: 5 px;
}