<ion-header>

    <ion-navbar color="primary">
        <ion-title>Demandes</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list radio-group [(ngModel)]="selecteddemande">
        <ion-item *ngFor="let demande of demandeList">

            <ion-label>{{demande.trajet.title}}, {{demande.trajet.price}} dt</ion-label>
            <ion-radio item-left [value]="demande"></ion-radio>
        </ion-item>
    </ion-list>


    <button ion-button block (click)="AcceptDmd( selecteddemande)" *ngIf="demandeList.length != 0"> Accepter  </button>
    <label   *ngIf="demandeList.length == 0" >Aucune demande.</label>
</ion-content>
 